
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.min.js" async></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.js"></script>
 
 <%= form_for(@complain, id:'complain_form', controller:'complains') do |f|%>
 <%if  @complain == nil %><%puts "com nul"%><%end%>  <%if  @complainant == nil %><%puts "comtt nul"%><%end%>
  <%if ( @complain.errors.any? ||  @complainant.errors.any? || flash[:notice].to_s== "Debe registrar un delito o una contraversion correctamente")%>
 <div class="row">
     <div class="col-md-4 col-md-offset-4">
     <div class="panel panel-danger">
     <div class="panel-heading">Errores al registrar denuncias</div>
   <% if @complain.errors.any?  %>
       <ul class="list-group">
         <% @complain.errors.full_messages.each do |message| %>
         <li class='list-group-item'><%= message %></li>
        <% end %>
       </ul>
   <%end%>
   <%if @complainant!=nil%>
   <% if @complainant.errors.any?  %>
       <ul class="list-group">
       <% @complainant.errors.full_messages.each do |message| %>
             <li class='list-group-item'><%= message %></li>
       <% end %>
       </ul>
     <%end%>  
   <%end%>
   <% if flash[:notice] %>
 
       <ul class="list-group">
         <%= flash[:notice]  %>
       </ul>
 <%end%>
 </div>
 </div>
 </div>
 <%end%>
 
 <br> <br><br>
   <%= hidden_field :complain, :id  %>
 
   <div class="row">
   <div class="col-md-4">
     <div  class="field">
       <label>Datos del denunciante</label><br><hr>
       <label> Nombre</label>
       <%= text_field  :complainant,:name ,:class=>'form-control'%>
     </div>
     <div  class="field">
       <label>Apellido</label>
       <%= text_field :complainant,:last_name ,:class=>'form-control'%>
     </div>
     <div  class="field">
       <label>Telef&oacute;no</label>
       <%= text_field  :complainant,:phone ,:class=>'form-control'%>
     </div>
     <div  class="field">
       <label>Direcci&oacute;n</label>
       <%= text_field  :complainant,:address ,:class=>'form-control'%>
     </div>
     <div  class="field">
       <label>CI</label>
       <%= text_field :complainant, :ci,:class=>'form-control'%>
     </div><hr>
     <div class="field">
       <label>Delito</label>
          <%= f.check_box  :crime ,  :checked => @complain.crime_id!=nil,:id => "crime_checkbox"%>
        <label for="crime_checkbox"><span></span></label><sup>(marcar si quiere registrar un delito )</sup>
      </div><br>

      <div class="field">
        <label>Contravensi&oacute;n</label>
          <%= f.check_box :contravertion , :checked =>  @complain.contravertion_id!=nil,:id => 'contravertion_checkbox'%>
          <label for="contravertion_checkbox"><span></span></label><sup>(marcar si quiere registrar una contraversion)</sup>
      </div><br>
 
      <div class="field" id="crime-div" <% if  @complain.crime_id!=nil %>style ="display:block" <%else%> style ="display:none" <%end%>>
         <label>Delito <i class="fa fa-asterisk"></i></label>
         <%= text_field_tag :auxCrime,if  @complain.crime_id?
        @complain.crime.code + ' '+@complain.crime.name 
  
      end  , class: 'awesomplete', data: { list:  @crimes.map{|v| v.to_s.encode("UTF-8").gsub(/[^a-z0-9.\s]/i, '')}} %>
      </div><br>

      <div class="field"  id="contravertion-div" <% if  @complain.contravertion_id!=nil %>style ="display:block" <%else%> style ="display:none" <%end%>>
        <label>Contraversion<i class="fa fa-asterisk"></i></label>
 
         <%= text_field_tag :auxContravertion,if @complain.contravertion_id?

      @complain.contravertion.code + ' '+@complain.contravertion.name
      end  , class: 'awesomplete', data: { list:  @contravertions.map{|v| v.to_s.encode("UTF-8").gsub(/[^a-z0-9.\s]/i, '')}} %>

      </div><br>
  
      <div class="field">
       <label>Breve descripci&oacute;n del hecho<i class="fa fa-asterisk"></i></label><br>
       <%= f.text_area   :description, :class => 'form-control small-text-area'  %>
     </div><br>
     <div class="field">
       <label>Zona <i class="fa fa-asterisk"></i></label><br>
       <%= f.select   :zone, ['Nor Este','Nor Oeste','Central Norte','Central Sud','Sud Este','Sud Oeste'],{}, :class => 'form-control'  %>
     </div><br>
     <div class="field"  <% if @observationsAux!=nil %>style ="display:block" <%else%> style ="display:none" <%end%>>
       <label>Observaciones <i class="fa fa-asterisk"></i></label><br>
       <%= f.text_area   :observations, :class => 'form-control small-text-area'  %>
     </div><br>
   </div>
   <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">Para seleccionar la ubicaci&oacute;n  haga click en el mapa.</div>
      </div>
     <input id="pac-input" class="controls" type="text" size="85" placeholder="Search Box">
      <div id="map" style="width: 100%; height: 630px;"></div>

        <%= f.hidden_field   :latitude, id: 'map_lat' %>
        <%= f.hidden_field   :longitude, id: 'map_lng' %>
      </div><br>
   </div>
     <div class="actions center">
       <%= f.submit 'Registrar denuncia', :class => 'btn btn-default' , :onclick => "notifyMe()"%>

     </div>
 <%end%>
 <script type="text/javascript">
   var crimeCheckbox = document.getElementById('crime_checkbox');
   var crimeDiv = document.getElementById('crime-div');
 crimeCheckbox.onchange = function() {
    if(this.checked) {
       crimeDiv.style['display'] = 'block';
    } else {
      crimeDiv.style['display'] = 'none';
    }
 }
    var contravertionCheckbox = document.getElementById('contravertion_checkbox');
    var contravertionDiv = document.getElementById('contravertion-div');
 contravertionCheckbox.onchange = function() {
    if(this.checked) {
      contravertionDiv.style['display'] = 'block';
    } else {
      contravertionDiv.style['display'] = 'none';
 
    }
 };


 document.addEventListener('DOMContentLoaded', function () {
  if (!Notification) {
    alert('Desktop notifications not available in your browser. Try Chromium.'); 
    return;
  }

  if (Notification.permission !== "granted")
    Notification.requestPermission();
});

function notifyMe() {
  if (Notification.permission !== "granted")
    Notification.requestPermission();
  else {
    var notification = new Notification('Denuncia', {
     
      body: "Nueva denuncia registrada",
    });

    notification.onclick = function () {
      window.open("http://stackoverflow.com/a/13328397/1269037");      
    };

  }

}
 </script>
