<% if !user_signed_in? %>
<!DOCTYPE>
    <html>
    <head>
      <title>Sistema de Seguimiento de tramites</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
      <%= favicon_link_tag('icons/escudo-cochabamba.ico') %>

      
    </head>
    <body class="fondo-cocha">
    <h1 class="center home-title" id="homeTitle"> Sistema de Registro de Denuncias 911 </h1>
    <div class="login-box col-md-6 col-md-offset-3">

      <div class="login-box-body" style="border-radius: 7px; overflow: hidden">
        <h2>POLICIA DE COCHABAMBA</h2>

        <div class="center">
          Centro de monitoreo 911
          <br>
          <br>

          <a href="/users/sign_in" class="btn btn-success btn-flat">Iniciar Sesión</a>
        </div>
      </div>
      <!-- /.login-box-body -->
    </div>
    </body>
    </html>
<% else %>
    <div class="col-md-12">
      <h1 class="center" id="homeTitle"> Sistema de Registro de Denuncias 911 </h1>
      <%if notice!=nil%>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <i class="fa fa-info-circle"></i>
                  <%= notice %>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
      <%end%>
    </div>
<% end %>
