<%= render :partial => 'static_pages/notice_panel' %>

<div class="row">
  <div class="col-md-7">
    <h1>Buscar Delito </h1>
    <br>
  </div>
  <div class="col-md-5">
      <%= render :partial => 'crimes/search' %>
      <div class="form-inline">
        <br>
        <%= form_tag(crimes_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Nombre del Delito", :class => 'form-control'%>
            <%= submit_tag 'Buscar', :class=>'btn btn-default' %>
        <% end %>
      </div>
  </div>
</div>
<h1>Lista de Delitos</h1>
<br>
<% if @crimes.present? %>
<div class="col-md-4 col-md-offset-4">
  <div class="digg_pagination">
    <%= will_paginate @crimes,  :previous_label => 'Atras', :next_label => 'Siguiente', :container => true ,renderer: BootstrapPagination::Rails%>
  </div>
</div><br>
  <table class="table table-striped table-hover">
    <thead>
      <tr>

        <th>Codigo</th>
          <th>Nombre</th>
        <th>Ver</th>
        <th>Eitar</th>

       
      </tr>
    </thead>

    <tbody>
      <% @crimes.each do |crime| %>
        <tr>

          <td><%= crime.code %></td>
          <td><%=crime.name%></td>


          <td><%= link_to 'Ver', crime , class:'btn btn-default'%></td>

            <td><%= link_to :Editar, edit_crime_path(crime), class:'btn btn-primary'%></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-md-4 col-md-offset-4">
    <div class="digg_pagination">
      <%= will_paginate @crimes,  :previous_label => 'Atras', :next_label => 'Siguiente', :container => true ,renderer: BootstrapPagination::Rails%>
    </div>
  </div><br>
<%else%>
    <div class="row center actions panel panel-danger">
      <div class="panel-heading">
        <% if params[:search] %>
            <p>Su busqueda no generó resultados</p>
        <%else%>
            <p>No existen Crimenes registradas este momento</p>
        <%end%>
      </div>
    </div>
<%end%>
<br>

<!--<%= link_to 'New crime', new_crime_path %>-->
